<div id="home-head" style=<%- theme.home_background %>>
    <script>
        var menu = document.getElementById("menu")
        menu.className += " menu-color"
    </script>
    <script>
        !function(p){"use strict";!function(t){var s=window,e=document,i=p,c="".concat("https:"===e.location.protocol?"https://":"http://","sdk.51.la/js-sdk-pro.min.js"),n=e.createElement("script"),r=e.getElementsByTagName("script")[0];n.type="text/javascript",n.setAttribute("charset","UTF-8"),n.async=!0,n.src=c,n.id="LA_COLLECT",i.d=n;var o=function(){s.LA.ids.push(i)};s.LA?s.LA.ids&&o():(s.LA=p,s.LA.ids=[],o()),r.parentNode.insertBefore(n,r)}()}({id:"JmZj0HN8kNl7OKOp",ck:"JmZj0HN8kNl7OKOp",autoTrack:true,hashMode:true});
    </script>
    <% if(theme.head_block_enable){ %> 
    <div id="home-info" class="home-info" @click="home_click">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h1><%- config.title %></h1>
                <h3><%- config.subtitle %></h3>
                <h5><%- config.description %></h5>
            </div>
        </span>
    </div>
    <% } %> 
</div>

<% 
    var wrapClass = ""
    if(!theme.card.enable){
        wrapClass = "home-posts-wrap-no-card"
    } 
%>

<div id="home-posts-wrap" class=<%- wrapClass %>>
    <div id="home-posts">

        <div id="posts">
            <%- include("posts") %>

            <%- include("current") %>
        </div>
    </div>
    <% if(theme.card.enable){ %>
    <div id="home-card">
        <%- include("card") %>
    </div>
    <% } %>
</div>
